body {
  height: 100vh;
  padding: 0 20px;
  background: linear-gradient(0, #120c56, #000000);
}
  
button {
  z-index: 1;
  width: 100px;
  height: 20px;
  border: none;
  box-shadow: 0 2px 6px #616161;
  background: #646262;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 20px;
  transition: 0.8s ease-out;
}
  

div:hover button::after {
  z-index: -1;
  content: "";
  width: 320px;
  height: 20px;
  background: linear-gradient(#F34423, #A12A13);
  box-shadow: 7px 5px 10px #651708;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  position: absolute;
  top: 0%;
  left: 95%;
}
  
div {
  height: 100%;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
div:hover button {
  transform: rotate(200deg);
}
  
div:active button {
  transform: rotate(-250deg);
}