body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #EFC1CE;
	perspective: 200px;
}

.loading {
	width: 100px;
	height: 100px;
  margin-right: 20px;
	background-color: #A1458B;
	border-radius: 50px;
	animation: loading 2s linear infinite;
}

@keyframes loading {
	0% { transform: rotateX(0deg) rotateY(0deg); }

	50% { transform: rotateX(0deg) rotateY(180deg); }

	100% { transform: rotateX(180deg) rotateY(180deg); }
}