body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #2E0C0A;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
}

.container {
  min-width: 300px;
  margin: 0 auto;
  display: flex;
}

.container div {
  margin: 20px;
}

.container div label {
  cursor: pointer;
}

.container div label #checkbox {
  display: none;
}

.container div label span {
  position: relative;
  display: inline-block;
  background:#141212;
  padding: 15px 30px;
  color: rgb(63, 57, 57);
  text-shadow: 0 2px 4px rgba(0,0,0,.5);
  border-radius: 30px;
  font-size: 22px;
  transition: .5s;
  user-select: none;
  overflow: hidden;
}

.container div label span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: rgba(255, 255, 255, .1);
}

.container div:nth-child(1) label #checkbox:checked ~ span{
  background: #2E7051;
  color: white;
  box-shadow: 0 2px 20px #2E7051;
}

.container div:nth-child(2) label #checkbox:checked ~ span{
  background: #E3402A;
  color:white;
  box-shadow: 0 2px 20px #E3402A;
}

.container div:nth-child(3) label #checkbox:checked ~ span{
  background: #E4A02C;
  color: white;
  box-shadow: 0 2px 20px #E4A02C;
}

.container div:nth-child(4) label #checkbox:checked ~ span{
  background:#183D63;
  color: white;
  box-shadow: 0 2px 20px #183D63;
}
