body{
  background-color: #F398BE;
}

.box{
  background-color: whitesmoke;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  padding: 10px;
}

.search{
  color: #9E314B;
  background-color: #F398BE;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5;
}

.text{
  color: whitesmoke;
  border: none;
  background: none;
  float: left;
  padding: 0;
  font-size: 15px;
  transition: 0.4s;
  line-height: 50px;
  width: 0;
}

.box:hover > .text {
  width: 300px;
  padding: 0 7px;
}
  
.box:hover > .search {
  background-color: whitesmoke;
}
