body{
  margin: 0;
  padding: 0;
}

.banner-text{
  width: 100%;
  position: absolute;
}

.animation-area{
  background: linear-gradient(45deg,#F2749A, #F7C7BC);
  width: 100%;
  height: 100vh;
}

.box-area{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.box-area li{
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background:#e6538bde;
  animation: animate 20s linear infinite;
  bottom: 30px;
}

.box-area li:nth-child(1){
  left: 86%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.box-area li:nth-child(2){
  left: 12%;
  width: 30px;
  height: 30px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}

.box-area li:nth-child(3){
  left: 70%;
  width: 100px;
  height: 100px;
  animation-delay: 5.5s;
}

.box-area li:nth-child(4){
  left: 70%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 15s;
}

.box-area li:nth-child(5){
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
  animation-duration: 15s;
}

.box-area li:nth-child(6){
  left: 35%;
  width: 110px;
  height: 110px;
  animation-delay: 3.5s;
}

.box-area li:nth-child(7){
  left: 75%;
  width: 40px;
  height: 40px;
  animation-delay: 3.5s;
}

.box-area li:nth-child(8){
  left: 20%;
  width: 50px;
  height: 50px;
  animation-delay: 3.5s;
}

.box-area li:nth-child(9){
  left: 47%;
  width: 100px;
  height: 100px;
  animation-delay: 1.0s;
}
.box-area li:nth-child(10){
  left: 80%;
  width: 110px;
  height: 110px;
  animation-delay: 3.5s;
}

.box-area li:nth-child(11){
  left: 90%;
  width: 120px;
  height: 120px;
  animation-delay: 1.5s;
}

.box-area li:nth-child(12){
  left: 54%;
  width: 100px;
  height: 100px;
  animation-delay: 0.5s;
}


@keyframes animate{
  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100%{
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}